a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    color: red;
}

.area:hover ul {
    display: block;
    z-index: 1;
    margin: 0px 15px 0px;
}

.menu-content {
    font-family: "Apple Braille", sans-serif;
    list-style-type: none;
}

.drop-down {
    position: relative;
    display: inline-block;
    padding: 10px 10px 0px;
    direction: rtl;
}

.drop-down:hover .menu-content {
    display: block;
}


.menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    align-self: end;
    align-content: end;
}

input:checked~.menu-content {
    max-height: 100%;
}


.drop-down span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    cursor: pointer;
}

.drop-down ul {
    list-style-type: none;
    padding: 0px 4px 0px;
}

.drop-down a {
    margin: 3px;
    display: block;
    padding: 1.3px;
    margin: 3px;
}

input#menu {
    display: none;
}