<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <table class="table table-striped">
    <tr>
      <td>
        <p>Лицевой счёт: <strong>{{.personalAccount}}</strong></p>
        <p>Адрес: <strong>{{.address}}</strong></p>
        <p>ФИО: <strong>{{.fio}}</strong></p>
      </td>
      <td>
        <form class="form" action="/" method="POST">
          <div class="form-group">
            <p>
              <label for="password">Начало периода</label>
              <input type="date" name="periodstart" min="2023-11-01" value="{{.periodstart}}" />
            </p>
            <p>
              <label for="password">Конец периода</label>
              <input type="date" name="periodend" min="2023-11-01" value="{{.periodend}}" />
            </p>
            <p>
              <select name="sort" id="sort-select" value="{{.sort}}" >
                <option value="" {{if eq .sort ""}} selected {{end}} >-- сортировка --</option>
                <option value="number" {{if eq .sort "number"}} selected {{end}} >№ ПУ</option>
                <option value="idate" {{if eq .sort "idate"}} selected {{end}} >Дата показаний</option>
              </select>
            </p>
          </div>
          <p><button type="submit" class="btn btn-primary">Фильтровать</button></p>
        </form>    
      </td>
    </tr>
  </table>

  <!--
  <div class="container-fluid !direction !spacing">
    <div class="row ${1|,row-cols-2,row-cols-3,auto,justify-content-md-center,|}">
      {{range .table}}
        <tr>
          <div class="col-sm-10">
            {{.Nom_pu}}
          </div>
          <div class="col-sm-10">
            {{.Marka}}
          </div>
          <div class="col-sm-10">
            {{.Mt}}
          </div>
          <div class="col-sm-10">
            {{.Koef}}
          </div>
          <div class="col-sm-10">
            {{.Los_per}}
          </div>
          <div class="col-sm-10">
            {{.Ktp}}
          </div>
          <div class="col-sm-10">
            {{.Data}}
          </div>
          <div class="col-sm-10">
            {{.Tz}}
          </div>
          <div class="col-sm-10">
            {{.I_date}}
          </div>
          <div class="col-sm-10">
            {{.Vid_en}}
          </div>
      {{end}}
    </div>
  </div>
  -->
  <table class="table table-striped">
    <thead>
      <th scope="col">№ ПУ</th>
      <th scope="col">Марка ПУ</th>
      <th scope="col">Кол. тариф. зон</th>
      <th scope="col">Коэффициент</th>
      <th scope="col">% потерь</th>
      <th scope="col">Наименование ТП</th>
      <th scope="col">Показания ПУ</th>
      <th scope="col">Тарифная зона</th>
      <th scope="col">Дата показаний</th>
      <th scope="col">Вид эл.энерг.</th>
    </thead>
    <tbody>
      {{range .table}}
        <tr>
          <td>{{.Nom_pu}}</td>
          <td>{{.Marka}}</td>
          <td>{{.Mt}}</td>
          <td>{{.Koef}}</td>
          <td>{{.Los_per}}</td>
          <td>{{.Ktp}}</td>
          <td>{{.Data}}</td>
          <td>{{.Tz}}</td>
          <td>{{.I_date}}</td>
          <td>{{.Vid_en}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
  
  <!--

  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            № ПУ
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Марка ПУ
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Кол. тариф. зон
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Коэффициент
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            % потерь
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Наименование ТП
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Показания ПУ
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Тарифная зона
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Дата показаний
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            Вид эл.энерг.
          </div>
        </div>
      </div>
    </div>
  </div>
  {{range .table}}
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Nom_pu}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Marka}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Mt}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Koef}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Los_per}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Ktp}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Data}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Tz}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.I_date}}
          </div>
        </div>
      </div>
      <div class="col-md-1 col-lg-1 grid-row">
        <div class="card">
          <div class="card-body">
            {{.Vid_en}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{end}}
  -->

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}