<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="bg-img">
    <div class class="h-container">
        <div class="user" style="padding:16px">
            <h3>Показания приборов учета</h3>
        </div>
    </div>

    <form class="form" action="/" method="POST">
        <div class="form-group">
            <div id="user_data">
                <table>
                    <tr>
                        <th>Лицевой счёт:</th>
                        <td>{{.personalAccount}}</td>
                    </tr>
                    <tr>
                        <th>Адрес:</th>
                        <td>{{.address}}</td>
                    </tr>
                    <tr>
                        <th>ФИО:</th>
                        <td>{{.fio}}</td>
                    </tr>
                    <tr>
                        <th>Начало периода</th>
                        <td><input type="date" name="periodstart" min="2023-11-01" value="{{.periodstart}}" /></td>
                    </tr>
                    <tr>
                        <th>Конец периода</th>
                        <td><input type="date" name="periodend" min="2023-11-01" value="{{.periodend}}" /></td>
                    </tr>
                    <tr>
                        <th>Сортировать по</th>
                        <td>
                            <select name="sort" id="sort-select" value="{{.sort}}">
                                <option value="" {{if eq .sort ""}} selected {{end}}>-- сортировка --</option>
                                <option value="number" {{if eq .sort "number"}} selected {{end}}>№ ПУ</option>
                                <option value="idate" {{if eq .sort "idate"}} selected {{end}}>Дата показаний</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Настройки</th>
                        <td>
                            <button type="submit" class="btn btn-primary">Применить</button>
                        </td>
                    </tr>
                    </tr>
                </table>
            </div>
        </div>
    </form>

</div>


<div class="overflow">
    <div class="container_tab">
        <table class="table table-striped" id="data" bgcolor="#f1f1f1">
            <thead>
                <th scope="col">№ ПУ</th>
                <th scope="col">Показания ПУ</th>
                <th scope="col">Тарифная зона</th>
                <th scope="col">Дата показаний</th>
            </thead>
            <tbody>
                {{range .table}}
                <tr>
                    <td>{{.Nom_pu}}</td>
                    <td>{{.Data}}</td>
                    <td>{{.Tz}}</td>
                    <td>{{.I_date}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}