<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>Вход</h1>


<div class="panel panel-default col-sm-6">
    <div class="panel-body">
        <!--If there's an error, display the error-->
        {{ if .ErrorTitle}}
        <p class="bg-danger alert">
            {{.ErrorTitle}}: {{.ErrorMessage}}
        </p>
        {{end}}
        <!--Create a form that POSTs to the `/u/login` route-->
        <form class="form" action="/u/login" method="POST">
            <div class="form-group">
                <p>
                    <label for="username">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </p>
            </div>
            <p><button type="submit" class="btn btn-primary">Вход</button></p>
        </form>
    </div>
</div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}