<!--login.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="bg-img">
    <div class class="h-container">
        <div class="user" style="padding:16px">
            <h3>Вход</h3>
        </div>
    </div>

    <!--Create a form that POSTs to the `/u/login` route-->
    <form class="form" action="/u/login" method="POST">
        <div id="user_data">
            <table>
                <!--If there's an error, display the error-->
                {{ if .ErrorTitle}}
                <tr>
                    <th style="visibility: hidden;">Ошибка</th>
                    <td>
                        <p class="bg-danger alert">
                            {{.ErrorTitle}}: {{.ErrorMessage}}
                        </p>
                    </td>
                </tr>
                {{end}}
                <tr>
                    <th>Имя пользователя</th>
                    <td>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </td>
                </tr>
                <tr>
                    <th>Пароль</th>
                    <td>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <th style="visibility: hidden;">Кнопка</th>
                    <td>
                        <button type="submit" class="btn btn-primary">Вход</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}