<!--menu.html-->

<div class="header">
    <div class="topnav" id="myTopnav">
        <a href="http://omskelectro.ru"><img class="logo" src="/static/img/favicons/omel.png" style="width:25px; height:25px"></a>
        <a href="/">Показания</a>
        {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <a style="width:auto;" title="для зарегистрированных пользователей" href="/u/login">Войти</a>
        {{end}}
        {{ if .is_logged_in }}
        <!--Display this link only when the user is logged in-->
        <a href="/u/register">Смена пароля</a>
        <a href="/u/logout">Выйти</a>
        {{end}}
    </div>
</div>