<!--register.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="bg-img">
    <div class class="h-container">
        <div class="user" style="padding:16px">
            <h3>Смена пароля</h3>
        </div>
    </div>


    <!--Create a form that POSTs to the `/u/register` route-->
    <form class="form" action="/u/register" method="POST">
        <div id="user_data">
            <table>
                <!--If there's an error, display the error-->
                {{ if .ErrorTitle}}
                <tr>
                    <th style="visibility: hidden;">Ошибка</th>
                    <td>
                        <p class="bg-danger alert">
                            {{.ErrorTitle}}: {{.ErrorMessage}}
                        </p>
                    </td>
                </tr>
                {{end}}
                <tr>
                    <th>Пароль</th>
                    <td>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <th>Проверка пароля</th>
                    <td>
                        <input type="password" name="passwordVerify" id="passwordverify" placeholder="Password Verify">
                    </td>
                </tr>
                <tr>
                    <th style="visibility: hidden;">Кнопка</th>
                    <td>
                        <button type="submit" class="btn btn-primary">Сменить пароль</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}